/* App.css */
* {
  padding: 0;
  margin: 0;
}

body {
  background: url("../public/assets/arches.png") repeat, #2f4f7f; /* Base color */
  color: #ffc107;
  background-size: auto; /* Keeps the original texture size */
  background-blend-mode: multiply; /* Blends the texture with the base color */
}
h2 {
  color: white;
}
